@font-face {
  font-family: "iconfont"; /* Project id 2839316 */
  src: url("//at.alicdn.com/t/font_2839316_hmqrzmacemu.woff2?t=1634000002986") format("woff2"),
    url("//at.alicdn.com/t/font_2839316_hmqrzmacemu.woff?t=1634000002986") format("woff"),
    url("//at.alicdn.com/t/font_2839316_hmqrzmacemu.ttf?t=1634000002986") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
